<?php

if ($_SERVER['APPLICATION_ENV'] === 'development') {

    return array(
        // the factory automatically looks for these creds
        'db' => [
             'username' => '',
             'password' => '',
             'database' => '',
             'hostname' => '',
             'buffer_results' => true
         ],
        'service_manager' => array(
            'factories' => array(
                'Zend\Db\Adapter\AdapterInterface' => 'BjyProfiler\Db\Adapter\ProfilingAdapterFactory'
            ),
        ),
    );

} elseif ($_SERVER['APPLICATION_ENV'] === 'staging'){
    return [];
} elseif ($_SERVER['APPLICATION_ENV'] === 'production'){
    return [];
}
